<div class="container">
    <div class="card text-bg-warning mb-3">
        <div class="card-header">Sucursales</div>
        <div class="card-body">
            <h5 class="card-title">Listado de sucursales</h5>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Ciudad</th>
                        <th>Estado</th>
                        <th>Phone</th>
                        <th>Empleados</th>
                        <th>clientes</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let branch of branchs">
                        <td>{{branch.id}}</td>
                        <td>{{branch.name}}</td>
                        <td>{{branch.address}}</td>
                        <td>{{branch.city}}</td>
                        <td>{{branch.state}}</td>
                        <td>{{branch.phone}}</td>
                        <td>{{branch.totalEmployees}}</td>
                        <td>{{branch.totalCustomers}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
